@charset "utf-8";

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}


/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* 9. Addendum perso */

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

:where(ul, ol):not([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

*> :last-child {
  margin-bottom: 0 !important;
}

:root {
  --black: #000;
  --white: #fff;
  --black-40: #00000040;
  --black-70: #00000070;
  --lightgray: #F0F0F0;
  --red: #FF3333;
  --blue: #2f80ed;
  --green: #27ae60;
}

h1 {
  font-size: clamp(1.5rem, 1.9991rem + -2.0476vw, 0.15625rem);
}

h2 {
  font-size: clamp(2rem, 2.6732rem + -2.7619vw, 0.1875rem);
}

p {
  font-size: clamp(1rem, 1.3424rem + -1.4048vw, 0.078125rem);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins\ Medium.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins\ ExtraBold.woff2);
  font-weight: 800;
}

.flex-column {
  flex-direction: column;
}


body {
  font-family: "Poppins";
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

header {
  position: relative;
  height: 100px;
  margin: 0 auto;
  margin: 2vh 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brandName_Header {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    /* width: 20%; */
    a {
      color: var(--black);
      text-decoration: none;
    }
  }

  .category_Header {
    display: flex;
    gap: 32px;

    li a {
      color: var(--color-primary);
      text-decoration: none;
    }
  }

  .icon_header {
    display: flex;
    gap: 16px;
  }
}

/* Modal */

.modal {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 75%;
  width: fit-content;
  right: 0;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 15px;
  border: 1px solid var(--black-40);

  a {
    text-decoration: none;
    color: var(--black);
    text-align: end;

    &:hover {
      text-decoration: underline;
    }
  }

}

.newArrivalsContain {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 6vw;
  padding: 2vh 0;
  border-bottom: 1px solid var(--black-40);

  h2 {
    font-size: 36px;
    margin: 2vh auto;
  }

  button {
    margin: 2vh auto;
  }
}

.cardProductContain {
  display: flex;
  font-weight: 600;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.cardProduct {
  img {
    border-radius: 20px;
  }

  .title-product {
    padding: 12px 0;
  }

  .price-product {
    padding: 16px 0;
  }

  :hover {
    cursor: pointer;
  }
}

.topSellingContain {
  display: flex;
  flex-direction: column;
  margin: 0 6vw;
  padding: 2vh 0;

  h2 {
    font-size: 36px;
    margin: 2vh auto;
  }

  button {
    margin: 2vh auto;
  }
}

footer {
  background-color: var(--lightgray);
  padding: 2vh 7vw;

  .h3AContain {
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;

    a {
      text-decoration: none;
      color: var(--black);
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
  }
}

.login-register-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-login-register {

  background-color: var(--white);
  border-radius: 15px;
  border: 1px solid var(--black-40);

  padding: 1.75rem 3rem;

  width: fit-content;
  height: fit-content;

  >form {
    display: flex;
    flex-flow: column;

    gap: 1rem;

    >a {
      font-size: 0.75rem;
      color: var(--blue);
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.25rem;

  >label {
    text-transform: capitalize;
    margin-left: 1rem;
  }
}

.register-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .input {
    width: fit-content;
    height: fit-content;
  }
}

input {
  font-size: 1rem;
  text-align: left;
  color: var(--black);

  background-color: var(--white);

  padding: 0.75rem 1rem;
  border-radius: 3.88rem;
  border: 1px solid var(--black-40);
  width: 100%;

  outline: none;
}

input.error {
  border: 1px solid var(--red);
  color: red;
}

input.valid {
  border: 1px solid var(--green);
  color: var(--green);
}

small {
  color: red;
  font-size: 0.65rem;
  margin: 0 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  padding: 0.25rem 1rem;

  min-width: 20em;

  background-color: var(--lightgray);
  border: none;
  border-radius: 3.88rem;

  >input {
    background-color: transparent;
    border: none;
    width: 100%;
  }
}

.button {
  text-align: center;
  text-decoration: none;

  border-radius: 3.88rem;

  padding: 0.75rem 1rem;
  
  transition: scale, 0.3s, .3s ease-in-out;

  width: fit-content;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }
}


.button.primary {
  background-color: var(--black);
  color: white;
  border: none;

}

.button.secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--lightgray);
}

.loader {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}